body {
	background-color: #f1f1f1;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	color: white;
	text-align: center;
	background-color: #52a5e6;
	padding: 5px 0 5px 0;
}

h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
}

.sidebar {
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	text-align: center;

	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #929292;
	padding: 25px 35px 25px 35px;
}

input[type=button] {
	padding: 10px;
	border-radius: 3px;
	background-color: #CBC7C7;
	/*border: solid 1px #929292;*/
	border: none;
	width: 100px;
	margin: 10px;
	margin-bottom: auto;
}

input[type=button]:hover {
	cursor: pointer;
	box-shadow: 1px 1px 3px #929292;
	transform: scale(1.02);
}

.message {
	z-index: 1010;

	text-align: center;
	background-color: white;
	padding: 50px;
	border-radius: 30px;
	width: 20vw;
	height: 30vh;
}

.game-over-msg {
	padding-bottom: 20px;
	font-size: 50px;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.85);

	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	padding: 2% 20vw 0 20vw;
	margin: 0;
}

.main-game {
	float: right;
	height: 80vh;
	width: 80vh;
	margin: auto;
}

.game-board {
	border: solid 5px black;
	height: 100%;
	width: 100%;
}

.no-snake {
	background-color: red; 
}

.snake {
	background-color: green;
}

.star {
	background-color: yellow;
}

.hidden {
	display: none;
}

.settings-list {
	text-align: left;
	padding-left: 25%;
}