body {
	background-color: #f1f1f1;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	color: white;
	text-align: center;
	background-color: #52a5e6;
	padding: 5px 0 5px 0;
}

h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
}

main {
	padding: 20px;
	height: 80vh;
	width: 80vh;
	margin: auto;
}

table {
	position: initial;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

td {
	background-color: red; 
}

.snake {
	background-color: green;
}